:root {
  /* Color */
  --green-color: #377d71;
  --light-pink-color: #fbc5c5;
  --pink-color: #fba1a1;
  --purple-color: #8879b0;
  --beige-color: #f0ebe3;
}

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
}

ol,
ul {
  list-style: none;
}
